* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container.header {
    background-color: #0A2740;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    height: 40px;
}

.logo a {
    text-decoration: none;
    font-size: 1.6rem;
    color: #9ec23c;
}

.navbar ul {
    list-style: none;
}

.menu-hamburger img {
    width: 40px;
}

.hidden-menu {
    height: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #316456;
    transition: height 0.3s;
    overflow: hidden;
}

.hidden-menu ul {
    list-style: none;
}

.hidden-menu a {
    text-decoration: none;
    color: #fff;
    font-size: 1.5rem;
}

.show-menu {
    display: flex;
    height: calc(50vh - 65px);
}


.container.form {
    /* display: flex;
    justify-content: center;
    align-items: center; */
    padding: 20px 10px;
    background-color: #f5ffbf;
    height: calc(100vh - 65px);
}

.container.form label {
    display: block;
    margin-bottom: 15px;
}

.input-title {
    display: block;
}

.input-title+input {
    width: 100%;
    padding: 10px;
}

.container.form label+input {
    background-color: #0A2740;
    color: #9ec23c;
    border: none;
    padding: 10px;
    font-size: 1.2rem;
}

.container.task {
    padding: 10px;
}

.task_card {
    border: #9ec23c 1px solid;
    border-radius: 3px;
    padding: 10px;
    margin-bottom: 15px;
}

.task_title {
    color: #316456;
}