@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat/Montserrat-VariableFont_wght.ttf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat";
}


.container {
    height: 100vh;
    padding: 10px;
}

.navbar {
    padding: 20px 0 ;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar a {
    text-decoration: none;
}

.brand img {
    width: 25px;
    vertical-align: middle;
}

.brand a {
    font-size: 1.3rem;
}

.nav li  {
    display: inline;
    text-decoration: none;
    margin-left: 15px;
}

.form fieldset{
    padding: 10px;
}

.form-label {
    display: block;
    margin: 15px 0;
}

.form-label.r {
    margin: 0;
    margin-left: 15px;
}

.form-label span {
    display: inline-block;
    margin-bottom: 15px;
}

.form-input {
    display: block;
    width: 100%;
    padding: 10px 5px;
}

.form-textarea {
    display:block;
    width: 100%;
    padding: 10px 5px;
}

.button {
    display:inline-block ;
    width: fit-content;
    padding: 10px;
    background-color: #077BFF;
    color: #fff;
    border: none;
    font-weight: bold;
    text-decoration: none;
    
}

.task_card {
    border: 1px solid #077BFF;
    min-height: 150px;
    margin: 15px 0;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    background-color: #F7F7F9;
}

.task_title {
    margin: 5px 0 10px 0;
}

.task_description {
    margin-bottom: 15px;
}

.task_options {
    display: flex;
    justify-content: end;
    list-style: none;
}

.update_task, .delete_task {
   display:inline-block ;
   margin-left: 10px;
    padding: 10px;
    background-color: #077BFF;
    color: #fff;
    border: none;
    font-weight: bold;
    text-decoration: none;
}

.update_task, .delete_task img {
    vertical-align: middle;
}

.yellow {
    background-color: #F6C011;
}
.red {
    background-color: #DE4E45;
}

.confirmation-box {
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-width: 180px;
    height: 400px;
    margin: auto;
}

.confirmation-box span {
    margin-bottom: 15px;
}

.not-found {
    margin-top: 50%;
    text-align: center;
    vertical-align: middle;
}

.success, .error {
    margin-top: 5px;
}

.success {
    background: #5BA846;
    color: #fff;
    padding: 5px 10px;
    border-radius: 3px;
    font-weight: bold;
}

.error {
    background: #DE4E45;
    color: #fff;
    padding: 5px 10px;
    border-radius: 3px;
    font-weight: bold;
}
